rust/serialization/.idea/vcs.xml
rust/serialization/.idea/markdown-navigator.xml
rust/serialization/.idea/modules.xml
rust/serialization/.idea/rust.iml
rust/serialization/.idea/workspace.xml
rust/serialization/.idea/markdown-navigator/profiles_settings.xml
